<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="assets/css/layout.css">
    <script type="text/javascript" src="index.js" defer></script>
</head>
<body>
    <div id="app" :style="styles">
        <el-row class="input-button-group" style="padding:1rem;padding-bottom:0;">
            <el-col :span="20">
                <el-input @input="onInputImageURL()" v-model="inputImageURL"></el-input>
            </el-col>
            <el-col :span="4">
                <el-button style="width:100%;border-left: none;border-top-left-radius: 0;border-bottom-left-radius: 0;" @click="convert()">
                    Convert
                </el-button>
            </el-col>
            <el-col :span="20" class="pt-1">
                <el-input v-model="inputSKU" :readonly="true"></el-input>
            </el-col>
            <el-col :span="4" class="pt-1" style="height:56px;display:inline-flex;justify-content:center;align-items:center;">
                <el-checkbox v-model="headless">Headless</el-checkbox>
            </el-col>
        </el-row>
        <div style="display:flex;align-items:stretch;flex:1;">
            <div style="padding:1rem;display:flex;align-items:stretch;flex-basis:50%;padding-right:.5rem;">
                <div class="img-container">
                    <span v-if="!inputImageURL">No input image</span>
                    <img :src="inputImageURL" v-if="inputImageURL" class="img">
                </div>
            </div>
            <div style="padding:1rem;display:flex;align-items:stretch;flex-basis:50%;padding-left:.5rem;">
                <div class="img-container">
                    <span v-if="!outputImageURL">No output image</span>
                    <img :src="outputImageURL" v-if="outputImageURL" class="img" @click="copyOutputImageURL" style="cursor:pointer;">
                </div>
            </div>
        </div>
        <div style="padding:0 1rem 1rem;">
            <el-progress :text-inside="true" :stroke-width="22" :percentage="progress" color="#7fa283"></el-progress>
        </div>
    </div>
</body>
</html>
