@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}

#app {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body * {
    font-family: Poppins;
    box-sizing: border-box;
}

label, span, p, a, input, textarea, select
h1, h2, h3, h4, h5, h6 {
    color:var(--text-color);
}

*::-webkit-scrollbar {
    width: .8rem;
}

*::-webkit-scrollbar-track {
    background: #e2e3e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
    border: 3px solid #e2e3e4;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.m-1 {
    margin: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.el-textarea__inner {
    min-height: 54px !important;
}

.img-container {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    border: 1px solid #c0c4cc;
    border-radius: .2rem;
    background-color: white;
    padding: 1rem;
}

.input-button-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.img {
    object-fit: contain;
    width: 100%;
}

.img-container .img {
    height: calc(100vh - 3rem - 180px);
}

.el-progress-bar__outer, .el-progress-bar__inner {
    border-radius: .2rem;
}

.el-progress-bar__outer {
    background-color: white;
}